html, body {
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
  
.main {
    display: flex;
    flex-flow: column;
    width: 100%;
}
.menu {
    width: 10%;
    background-color: rgb(161, 98, 153);
    padding: 10px 20px 0px;
}
.header {
    display: flex;
    background-color: rgb(188, 124, 189);
    justify-content: space-between;
    padding: 10px 20px;
    
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(205, 204, 209);
    min-height: 150px;
    padding: 10px 20px;
}
img {
    height: 70px;
    width: auto;
}
